.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0;
  background-color: #000;
  padding: 6px;
  border-radius: 6px;
  width: max-content;
  margin: 0 auto;
  border: 1px solid #000;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.3));
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0 -1px -1px 0;
}

/* Remove bordas extras */
.board :nth-child(8n) {
  border-right: none;
}

.board :nth-child(n+57) {
  border-bottom: none;
}
